In [1]:
from lxml import html
from xml.etree import ElementTree
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import re
import requests
import seaborn as sns
import statsmodels.formula.api as smf
matplotlib.style.use(['seaborn-talk', 'seaborn-ticks', 'seaborn-whitegrid'])

In [5]:
def get_flights(url):
    doc = html.fromstring(requests.get(url).text)
    flights = doc.xpath('//li[@class="flight"]')

    result = []
    for f in flights:
        
        price = f.xpath(".//div[contains@class,'bottom']")[0].text_content()
        
        entry = {          
            'price' : price
        }
        result.append(entry)
        
    return result

In [6]:
get_flights('https://www.kayak.com/flights/NYC-LAX/2018-12-22?sort=bestflight_a')

[]

In [7]:
url = "https://www.kayak.com/flights/NYC-LAX/2018-12-22?sort=bestflight_a"
response = requests.get(url) # get the html of that url
doc = html.fromstring(response.text) # parse it and create a document

flights = doc.xpath("//div[@class='bottom']")

def get_flights(airline):    
    line = airline.xpath(".//div[contains@class,'bottom']")[0].text_content()
        
    return {
        'line': line
    }

In [8]:
data = [get_flights(airline) for airline in flights]
df = pd.DataFrame(data)
df

Empty DataFrame
Columns: []
Index: []

In [9]:
url = 'https://www.kayak.com/flights/NYC-LAX/2018-12-22?sort=bestflight_a'
doc = html.fromstring(requests.get(url).text)
recipes = doc.xpath("//div[@class='Base-Results-HorizonResult Flights-Results-FlightResultItem phoenix-rising get-in-formation']")
recipes

[]

In [10]:
def site(airline, date):
    print("https://www.kayak.com/flights/NYC-" + str(airline) + "/" + str(date) + "?sort=bestflight_a")

In [11]:
site('LAX', '2018-12-22')

https://www.kayak.com/flights/NYC-LAX/2018-12-22?sort=bestflight_a

# uhh this part is the url part but the daterange loop doesnt quite work

In [12]:
from datetime import datetime
from datetime import timedelta

kayak = []
airline = 'LAX'

test = site('LAX', '2018-12-23')

start_date = "2018-12-22"
stop_date = "2019-01-01"

start = datetime.strptime(start_date, "%Y-%m-%d")
stop = datetime.strptime(stop_date, "%Y-%m-%d")
    
while start < stop:
    print('https://www.kayak.com/flights/NYC-' + str(airline) + '/' + str(start) + '?sort=bestflight_a')
    start = start + timedelta(days=1)  # increase day one by one

print(timedelta(days=1))

https://www.kayak.com/flights/NYC-LAX/2018-12-23?sort=bestflight_a
https://www.kayak.com/flights/NYC-LAX/2018-12-22 00:00:00?sort=bestflight_a
https://www.kayak.com/flights/NYC-LAX/2018-12-23 00:00:00?sort=bestflight_a
https://www.kayak.com/flights/NYC-LAX/2018-12-24 00:00:00?sort=bestflight_a
https://www.kayak.com/flights/NYC-LAX/2018-12-25 00:00:00?sort=bestflight_a
https://www.kayak.com/flights/NYC-LAX/2018-12-26 00:00:00?sort=bestflight_a
https://www.kayak.com/flights/NYC-LAX/2018-12-27 00:00:00?sort=bestflight_a
https://www.kayak.com/flights/NYC-LAX/2018-12-28 00:00:00?sort=bestflight_a
https://www.kayak.com/flights/NYC-LAX/2018-12-29 00:00:00?sort=bestflight_a
https://www.kayak.com/flights/NYC-LAX/2018-12-30 00:00:00?sort=bestflight_a
https://www.kayak.com/flights/NYC-LAX/2018-12-31 00:00:00?sort=bestflight_a
1 day, 0:00:00

In [58]:
#test_url = 'https://www.kayak.com/flights/NYC-' + str(airline) + '/' + str(date) + '?sort=bestflight_a&fs=stops=0'

#Vegas (LAS), LA (LAX), Chicago (CHI), SF (SFO), Orlando (ORL), Denver (DEN), Washington DC (DCA), Seattle (SEA), Boston (BOS)

#1
import pandas as pd
daterange = pd.date_range(2018-12-22, 2019-1-1)

for single_date in daterange:
    print (single_date.strftime("%Y-%m-%d"))

1970-01-01

In [52]:
#2
from datetime import timedelta, date

def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        yield start_date + timedelta(n)

In [62]:
#2
start_date = date(2018, 12, 22)
end_date = date(2019, 1, 1)
for single_date in daterange(start_date, end_date):
    print(single_date.strftime("%Y-%m-%d"))

TypeError: 'DatetimeIndex' object is not callable

In [55]:
#3
from datetime import datetime

start_date = "2018-12-22"
stop_date = "2019-01-01"

start = datetime.strptime(start_date, "%Y-%m-%d")
stop = datetime.strptime(stop_date, "%Y-%m-%d")

from datetime import timedelta
while start < stop:
    print(start)
    start = start + timedelta(days=1)  # increase day one by one

2018-12-22 00:00:00
2018-12-23 00:00:00
2018-12-24 00:00:00
2018-12-25 00:00:00
2018-12-26 00:00:00
2018-12-27 00:00:00
2018-12-28 00:00:00
2018-12-29 00:00:00
2018-12-30 00:00:00
2018-12-31 00:00:00

In [63]:
#4
from datetime import date
from datetime import timedelta
d = start_date
delta = datetime.timedelta(days=1)
while d <= end_date:
    print(d.strftime("%Y-%m-%d"))
    d += delta

AttributeError: type object 'datetime.datetime' has no attribute 'timedelta'